<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" ><span class="glyphicon glyphicon-cog"></span>&nbsp;The Architect</div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-repeat="page in navbarCtrl.navbarService.pages" ng-class="{active: navbarCtrl.navbarService.isCurrentPage(page.id)}" >
                    <a ng-if="page.type != 2" href="#{{page.id.slug()}}" >{{page.id}}</a>

                    <a ng-if="page.type == 2" href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{page.id}} <span class="caret"></span></a>
                    <ul ng-if="page.type == 2" class="dropdown-menu" role="menu">
                        <li ng-repeat="e in page.entries" ><a href="#{{page.id.slug()}}/{{e.id.slug()}}">{{e.id}}</a></li>
                    </ul>
                </li>
            </ul>

            <hel-navbar-guest ng-hide="navbarCtrl.userService.isSignedIn()"></hel-navbar-guest>
            <hel-navbar-user ng-show="navbarCtrl.userService.isSignedIn()"></hel-navbar-user>
        </div>

    </div><!-- /.container-fluid -->
</nav>