<div class="footer">
    <div class="container">
        <div class="row">
            <div ><p class="text-muted">&copy; Alex Khilko 2015 | <a href="/<%= config.urls[config.terms] %>">Terms of Use</a> | <a href="/<%= config.urls[config.privacy] %>">Privacy Policy</a></p></div>
        </div>
    </div>
</div>
