<% if(articles) { %>

<h4>
    <% if(fetchedAmount > fetchAmount) { %>
        <a href="/page/<%= skipAmount + fetchAmount %>" style="float: left"><< previous 10 posts</a>
    <% } %>
    <% if(skipAmount > 0) { %>
        <a href="/<%= (skipAmount - fetchAmount <= 0 ? '' : 'page/' + (skipAmount - fetchAmount)) %>" style="float: right">next 10 posts >></a>
    <% } %>
    <br>
</h4>

<% } %>