<div class="modal fade" id="saveArticleModal" tabindex="-1" role="dialog" aria-labelledby="saveArticleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Save Article</h4>
            </div>
            <div class="modal-body">
                Would you like to save changes before closing the article?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="saveArticleCtrl.saveCancelled()">No</button>
                <button type="button" class="btn btn-success" ng-click="saveArticleCtrl.saveConfirmed()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->